# =========================
# React / Vite
# =========================

node_modules/
dist/
dist-ssr/
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# =========================
# Django / Python
# =========================

__pycache__/
*.py[cod]
*$py.class

*.pyo
*.pyd

.venv/
venv/
env/
ENV/

.pytest_cache/
.coverage
htmlcov/

*.log


# =========================
# Django Database
# =========================

db.sqlite3


# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example


# =========================
# IDE / Editor
# =========================

.vscode/
!.vscode/extensions.json

.idea/

.DS_Store

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# =========================
# OS Files
# =========================

Thumbs.db
Desktop.ini